<div *ngFor="let blog of blogs; let i = index;" class="container mt-3">
  <div class="row" *ngIf="(i%3) == 0">
    <div class="col-3 text-center justify-content-center" *ngFor="let blog of blogs.slice(i, i+3);">
      <img class="card-img-top rounded" src="https://unsplash.it/640/425" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">{{ blog.description}} </p>
          <a [routerLink]="['/blogs', blog.id]" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>